body {
	background-color: lightgray;
}

.container, .container-fluid {
     padding-right: 0px; 
     padding-left: 0px; 
}

h1 {
	background-color: black;
	color: white;
}

h2 {
	background-color: black;
	color: white;
}