/*Page text formatting*/
@font-face {
	font-family: ralewayLight;
	src: url("fonts/Raleway/static/Raleway-Light.ttf");/* format("ttf");*/
	font-weight: normal;
}
@font-face {
	font-family: ralewayRegular;
	src: url("fonts/Raleway/static/Raleway-Regular.ttf");/* format("ttf");*/
	font-weight: normal;
}
@font-face {
	font-family: ralewayExtraLight;
	src: url("fonts/Raleway/static/Raleway-ExtraLight.ttf");/* format("ttf");*/
	font-weight: normal;
}
@font-face {
	font-family: ralewayBold;
	src: url("fonts/Raleway/static/Raleway-Bold.ttf");/* format("ttf");*/
	font-weight: normal;
}

body {
	background-color: #817f8d ;
	margin: 0;
}
h1 {
	margin-top: 0;
	margin-bottom: 0;
	color: white;
	font-family: 'Courier New', monospace;
	font-weight: normal; 
	font-size: 40px;
}
h2 {
	margin-top: 1vh;
	color: white;
	font-family: 'Courier New', monospace;
	font-weight: normal; 
	font-size: 22px;
}
h3 {
	margin: 1vw;
	font-family: 'ralewayRegular', monospace;
	font-size: 24px;
}
p {
	font-size: 20px;
	font-family: 'ralewayLight', monospace;
	margin: 1vw;
}
li {
	font-size: 18px;
	font-family: 'ralewayLight', monospace;
	margin-bottom: 5px;
}

@media only screen and (max-width: 550px) {
	h1 {
		font-size: 7.27vw;
	}
	h2 {
		font-size: 4vw;
	}
}


.headerImage {
	z-index:-1;
	height:110vh; 
	margin-bottom:6vh; 
	position:static; 
	background-size: cover; 
	background-image: url('images/neon-sumer-stars.jpg');
}
.toPageGradiant {
	position:absolute; 
	height:10vh; 
	width:100%;
	top:100vh; 
	padding-bottom:0;
	margin-bottom:0; 
	background-image: linear-gradient(to top, 
										rgba(129, 127, 141,1),
										rgba(129, 127, 141,0.82),
										rgba(129, 127, 141,0.5),
										rgba(129, 127, 141,0.25), 
										rgba(129, 127, 141,0));		
}
.underline-Link {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
	color: black;
}
.underline-Link:hover {
	box-shadow: inset 0 -3px 0 0 #000;
}
.introCTA {
	font-size: 18px;
	font-family: 'ralewayExtraLight' , monospace;
	margin-left: 0;
	
}
.highlight-Link {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    padding: 2px 3px;
    /* -webkit-box-shadow: inset 0 -3px 0 #aca7cb; */
    box-shadow: inset 0 -3px 0 0 #4cd2e4;
	color: black;
}
.highlight-Link:hover {
    /* -webkit-box-shadow: inset 0 -33px 0 0 #aca7cb; */
    box-shadow: inset 0 -33px 0 0 #4cd2e4;
    color: #fff;
}
.project-nav {
	background-color: #c6bac7;
	width: 100%;
	margin: 0;
}


/*Veritcal alignment testing line*/
.vl {
  border-left: 1px solid green;
  height: 300vh;
  position: absolute;
  left: 314px;
  top: 0;
}


::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #b4b0b4;
}
::-webkit-scrollbar-thumb {
  background: #444;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

/*Moving page items script*/
/* #movingDiv {  */
    /* position: fixed; /* or absolute depending on your need */  
    /* top: 50px; /* initial position */  
    /* left: 20px; /* initial position */  
    /* background-color: rgba(255, 255, 255, 0.5);  */
    /* padding: 10px;  */
    /* border: 1px solid #ccc;  */
    /* transition: transform 0.1s; /* smooth transition */  
/* }  */

/* INTRO SECTION LANDSCAPE LAYOUT */
@media only screen and (orientation: landscape) {
	.aboutMeHeader {
		font-size: 24px;
		right: 20px;
		margin: 0;
	}
	.aboutMeBody {
		font-size: 20px;
		top: 2px;
		left: 0;
		margin: 0;
	}
	.flex-parent {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		min-height: 50vh;
		justify-content: flex-start;
		align-items: stretch;
	}
	.parent {
		padding-top: 35px;
		padding-bottom: 40px;
		width: 100%;
		/* background-color: rgba(255, 255, 255, 0.5); */
	}
	.child-float-left {
		/* background-color: rgba(130, 90, 90, 0.4); */
		flex-basis: 29%;
		text-align: right;
		padding-right: 20px;
	}
	.child-float-right {
		/* background-color: rgba(90, 130, 90, 0.4); */
		flex-basis: 48%;
	}
}
/* INTRO SECTION PORTRAIT LAYOUT */
@media only screen and (orientation: portrait) {
	.aboutMeHeader {
		font-size: 24px;
		position: relative;
		left: 0;
	}
	.aboutMeBody {
		font-size: 20px;
		position: relative;
		left: 0;
	}
	.flex-parent {
	  display: flex;
	  flex-direction: column;
	  min-height: 28vh;
	}
	.parent {
		padding-top: 0;
		padding-bottom: 1vh;
		width: 100%;
		/* background-color: rgba(255, 255, 255, 0.5); */
		position: static;
	}
	.child-float-left {
		/* background-color: rgba(130, 90, 90, 0.4); */
		padding: 3vw;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0;
		position: relative;
	}
	.child-float-right {
		/* background-color: rgba(90, 130, 90, 0.4); */
		padding-top: 3vw;
		padding-bottom: 3vw;
		padding-left: 8vw;
		padding-right: 2vw;
		position: relative;
	}
}

/* SKILLS SECTION LANDSCAPE LAYOUT */
@media only screen and (min-width: 550px) {
	.flexSkillsBox {
		width: 100vw;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		min-height: 20vh;
		margin-top: 10px;
		padding-top: 1rem;
		padding-bottom: 1rem;
		margin-bottom: 0;
		background-color: #23212d;
		box-shadow: 0 -3px 10px 1px rgba(0,0,0,0.5);
	}
	.skillsHead {
		/* background-color: rgba(130, 90, 90, 0.4); */
		flex-basis: 26%;
		text-align: right;
		color: white; 
		margin-left: 0; 
		margin-right: 0; 
		padding-left: 0;
		padding-right: 0;
		font-size: 22px;
	}
	.skillsLang {
		/* background-color: rgba(90, 130, 90, 0.4); */
		flex-basis: 18%; 
		color: white; 
		padding-left: 4vw; 
		list-style-type: none;
	}
	.skillsTools {
		/* background-color: rgba(90, 90, 130, 0.4); */
		flex-basis: 18%; 
		color: white; 
		padding-left: 4vw; 
		list-style-type: none;
	}
}
/* SKILLS SECTION PORTRAIT LAYOUT */
@media only screen and (max-width: 550px) {
	.flexSkillsBox {
		width: 100vw;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		min-height: 20vh;
		margin-top: 5px;
		padding-top: 1rem;
		padding-bottom: 1rem;
		background-color: #23212d;
		box-shadow: 0 -3px 10px 1px rgba(0,0,0,0.5);
	}
	.skillsHead {
		/* background-color: rgba(130, 90, 90, 0.4); */
		flex-basis: 26%;
		text-align: left;
		color: white; 
		margin-left: 10vw; 
		margin-right: 0; 
		padding-left: 0;
		padding-right: 0;
		font-size: 22px;
	}
	.skillsLang {
		/* background-color: rgba(90, 130, 90, 0.4); */
		flex-basis: 18%; 
		color: white; 
		padding-left: 30vw; 
		list-style-type: none;
	}
	.skillsTools {
		/* background-color: rgba(90, 90, 130, 0.4); */
		flex-basis: 18%; 
		color: white; 
		padding-left: 30vw; 
		list-style-type: none;
	}
}

/* CONTACT SECTION LANDSCAPE LAYOUT */
@media only screen and (min-width: 550px) {
	.contactBox {
		width: 100vw;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		min-height: 10vh;
		margin-top: 0;
		padding-top: 1rem;
		padding-bottom: 15px;
		background-color: #23212d;
		/* box-shadow: 0 -3px 10px 1px rgba(0,0,0,0.5); */
	}
	.contactHead {
		/* background-color: rgba(130, 90, 90, 0.4); */
		flex-basis: 25%;
		text-align: right;
		color: white; 
		margin-left: 0; 
		margin-right: 0; 
		padding-left: 0;
		padding-right: 0;
		font-size: 22px;
	}
	.contactLinkIcon {
		/* background-color: rgba(90, 130, 90, 0.4); */
		flex-basis: 18%; 
		color: white; 
		padding-left: 4vw; 
		list-style-type: none;
	}
}
/* CONTACT SECTION PORTRAIT LAYOUT */
@media only screen and (max-width: 550px) {
	.contactBox {
		width: 100vw;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		min-height: 10vh;
		margin-top: 5px;
		padding-top: 1rem;
		padding-bottom: 15px;
		background-color: #23212d;
		/* box-shadow: 0 -3px 10px 1px rgba(0,0,0,0.5); */
	}
	.contactHead {
		/* background-color: rgba(130, 90, 90, 0.4); */
		flex-basis: 25%;
		text-align: right;
		color: white; 
		margin-left: 0; 
		margin-right: 0; 
		padding-left: 0;
		padding-right: 0;
		font-size: 22px;
	}
	.contactLinkIcon {
		/* background-color: rgba(90, 130, 90, 0.4); */
		flex-basis: 18%; 
		color: white; 
		padding-left: 4vw; 
		list-style-type: none;
	}
}