/*Page text formatting*/
@font-face {
	font-family: ralewayLight;
	src: url("fonts/Raleway/static/Raleway-Light.ttf");/* format("ttf");*/
	font-weight: normal;
}
@font-face {
	font-family: ralewayRegular;
	src: url("fonts/Raleway/static/Raleway-Regular.ttf");/* format("ttf");*/
	font-weight: normal;
}
@font-face {
	font-family: ralewayExtraLight;
	src: url("fonts/Raleway/static/Raleway-ExtraLight.ttf");/* format("ttf");*/
	font-weight: normal;
}
@font-face {
	font-family: ralewayBold;
	src: url("fonts/Raleway/static/Raleway-Bold.ttf");/* format("ttf");*/
	font-weight: normal;
}

body {
	background-color: #817f8d ;
	margin: 0;
}
h1 {
	margin-top: 0;
	margin-bottom: 0;
	color: white;
	font-family: 'Courier New', monospace;
	font-weight: normal; 
	font-size: 40px;
}
h2 {
	margin-top: 1vh;
	color: white;
	font-family: 'Courier New', monospace;
	font-weight: normal; 
	font-size: 22px;
}
h3 {
	margin: 1vw;
	font-family: 'ralewayRegular', monospace;
	font-size: 24px;
}
p {
	font-size: 20px;
	font-family: 'ralewayLight', monospace;
	margin: 1vw;
}
li {
	font-size: 18px;
	font-family: 'ralewayLight', monospace;
	margin-bottom: 5px;
}

@media only screen and (max-width: 550px) {
	h1 {
		font-size: 7.27vw;
	}
	h2 {
		font-size: 4vw;
	}
}


.headerImage {
	z-index:-1;
	margin-bottom:6vh; 
	position:static; 
	background-size: cover; 
	background-image: url('images/neon-sumer-stars.jpg');
}
.toPageGradiant {
	position:absolute; 
	height:10vh; 
	width:100%;
	top:100vh; 
	padding-bottom:0;
	margin-bottom:0; 
	background-image: linear-gradient(to top, 
										rgba(129, 127, 141,1),
										rgba(129, 127, 141,0.82),
										rgba(129, 127, 141,0.5),
										rgba(129, 127, 141,0.25), 
										rgba(129, 127, 141,0));
}
.underline-Link {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
	color: black;
}
.underline-Link:hover {
	box-shadow: inset 0 -3px 0 0 #000;
}
.introCTA {
	font-size: 18px;
	font-family: 'ralewayExtraLight' , monospace;
	margin-left: 0;
	
}
.highlight-Link {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    padding: 2px 3px;
    /* -webkit-box-shadow: inset 0 -3px 0 #aca7cb; */
    box-shadow: inset 0 -3px 0 0 #4cd2e4;
	color: black;
}
.highlight-Link:hover {
    /* -webkit-box-shadow: inset 0 -33px 0 0 #aca7cb; */
    box-shadow: inset 0 -33px 0 0 #4cd2e4;
    color: #fff;
}


/*Veritcal alignment testing line*/
.vl {
  border-left: 1px solid green;
  height: 300vh;
  position: absolute;
  left: 314px;
  top: 0;
}


::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #b4b0b4;
}
::-webkit-scrollbar-thumb {
  background: #444;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

/*Moving page items script*/
/* #movingDiv {  */
    /* position: fixed; /* or absolute depending on your need */  
    /* top: 50px; /* initial position */  
    /* left: 20px; /* initial position */  
    /* background-color: rgba(255, 255, 255, 0.5);  */
    /* padding: 10px;  */
    /* border: 1px solid #ccc;  */
    /* transition: transform 0.1s; /* smooth transition */  
/* }  */

/* INTRO SECTION LANDSCAPE LAYOUT */
@media only screen and (orientation: landscape) {
	.aboutMeHeader {
		font-size: 24px;
		right: 20px;
		margin: 0;
	}
	.aboutMeBody {
		font-size: 20px;
		top: 2px;
		left: 0;
		margin: 0;
	}
	.flex-parent {
		display: flex;
		flex: 0 1 auto;
		flex-direction: row;
		flex-wrap: wrap;
		min-height: 50vh;
		justify-content: flex-start;
		align-items: stretch;
	}
	.parent {
		padding-top: 12vh;
		padding-bottom: 15vh;
		width: 100%;
		/* background-color: rgba(255, 255, 255, 0.5); */
	}
	.child-float-left {
		/* background-color: rgba(130, 90, 90, 0.4); */
		flex-basis: 29%;
		text-align: right;
		padding-right: 20px;
	}
	.child-float-right {
		/* background-color: rgba(90, 130, 90, 0.4); */
		flex-basis: 48%;
	}
}
/* INTRO SECTION PORTRAIT LAYOUT */
@media only screen and (orientation: portrait) {
	.aboutMeHeader {
		font-size: 24px;
		position: relative;
		left: 0;
	}
	.aboutMeBody {
		font-size: 20px;
		position: relative;
		left: 0;
	}
	.flex-parent {
	  display: flex;
	  flex: 0 1 auto;
	  flex-direction: column;
	  min-height: 28vh;
	}
	.parent {
		padding-top: 3vh;
		padding-bottom: 7vh;
		width: 100%;
		/* background-color: rgba(255, 255, 255, 0.5); */
		position: static;
	}
	.child-float-left {
		/* background-color: rgba(130, 90, 90, 0.4); */
		padding: 3vw;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0;
		position: relative;
	}
	.child-float-right {
		/* background-color: rgba(90, 130, 90, 0.4); */
		padding-top: 3vw;
		padding-bottom: 3vw;
		padding-left: 8vw;
		padding-right: 2vw;
		position: relative;
	}
}

/* SKILLS SECTION LANDSCAPE LAYOUT */
@media only screen and (min-width: 550px) {
	.flexSkillsBox {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex: 0 1 auto;
		min-height: 20vh;
		margin-top: 10px;
		padding-top: 1rem;
		padding-bottom: 1rem;
		margin-bottom: 0;
		background-color: #23212d; 
		box-shadow: 0 -3px 10px 1px rgba(0,0,0,0.5);
		position: relative;
	}
	.skillsHead {
		/* background-color: rgba(130, 90, 90, 0.4); */
		flex-basis: 26%;
		text-align: right;
		color: white; 
		margin-left: 0; 
		margin-right: 0; 
		padding-left: 0;
		padding-right: 0;
		font-size: 22px;
	}
	.skillsLang {
		/* background-color: rgba(90, 130, 90, 0.4); */
		flex-basis: 18%; 
		color: white; 
		padding-left: 4vw; 
		list-style-type: none;
	}
	.skillsTools {
		/* background-color: rgba(90, 90, 130, 0.4); */
		flex-basis: 18%; 
		color: white; 
		padding-left: 4vw; 
		list-style-type: none;
	}
	.bottomGradientSkills {
		position:absolute; 
		height:2vh; 
		width:100%;
		bottom:0; 
		padding-bottom:0;
		margin-bottom:0; 
		background-image: linear-gradient(to top, 
											rgba(83, 81, 92,1),
											rgba(83, 81, 92,0.5),
											rgba(83, 81, 92,0.2),
											rgba(83, 81, 92,0.1),
											rgba(83, 81, 92,0),
											rgba(83, 81, 92,0));		
	}
}
/* SKILLS SECTION PORTRAIT LAYOUT */
@media only screen and (max-width: 550px) {
	.flexSkillsBox {
		width: 100%;
		display: flex;
		flex: 0 1 auto;
		flex-direction: column;
		flex-wrap: wrap;
		min-height: 20vh;
		margin-top: 5px;
		padding-top: 1rem;
		padding-bottom: 1rem;
		background-color: #23212d;
		box-shadow: 0 -3px 10px 1px rgba(0,0,0,0.5);
		position: relative;
	}
	.skillsHead {
		/* background-color: rgba(130, 90, 90, 0.4); */
		flex-basis: 26%;
		text-align: left;
		color: white; 
		margin-left: 0; 
		margin-right: 0; 
		padding-left: 10vw;
		padding-right: 0;
		font-size: 22px;
	}
	.skillsLang {
		/* background-color: rgba(90, 130, 90, 0.4); */
		flex-basis: 18%; 
		color: white; 
		padding-left: 30vw; 
		list-style-type: none;
	}
	.skillsTools {
		/* background-color: rgba(90, 90, 130, 0.4); */
		flex-basis: 18%; 
		color: white; 
		padding-left: 30vw; 
		list-style-type: none;
	}
	.bottomGradientSkills {
		position:absolute; 
		height:2vh; 
		width:100%;
		bottom:0; 
		padding-bottom:0;
		margin-bottom:0; 
		background-image: linear-gradient(to top, 
											rgba(83, 81, 92,1),
											rgba(83, 81, 92,0.5),
											rgba(83, 81, 92,0.2),
											rgba(83, 81, 92,0.1),
											rgba(83, 81, 92,0),
											rgba(83, 81, 92,0));		
	}
}

/* PROJECT NAV SECTION LAYOUT */
.project-area {
	background-color: #c1b5c2;
	width: 100%;
	margin: 0;
	padding-top: 10vh;
	padding-bottom: 10vh;
}
/* PROJECT ITEMS LANDSCAPE LAYOUT */
@media only screen and (min-width: 800px) {
	.project-link {
		width: 100%;
		display: flex;
		flex: 0 1 auto;
		flex-direction: row;
		flex-wrap: wrap;
		min-height: 10vh;
		/* background-color: rgba(90,90,130,0.4); */
	}
	.project-left {
		/* background-color: rgba(90,130,90,0.4); */
		flex-basis: 48%;
		color: white;
		padding-left: calc(6vw - 10px);
		text-align: right;
	}
	.project-right {
		/* background-color: rgba(130, 90, 90, 0.4); */
		flex-basis: 35%; 
		color: white; 
		padding-left: 2vw;
		padding-top: 1vh;
	}
}
/* PROJECT ITEMS PORTRAIT LAYOUT */
@media only screen and (max-width: 800px) {
	.project-link {
		width: 100%;
		display: flex;
		flex: 0 1 auto;
		flex-direction: column;
		flex-wrap: wrap;
		min-height: 40vh;
		justify-content: center;
		/* background-color: rgba(90,90,130,0.4); */
	}
	.project-left {
		/* background-color: rgba(90,130,90,0.4); */
		flex-basis: 100%;
		text-align: center;
	}
	.project-right {
		/* background-color: rgba(130, 90, 90, 0.4); */
		flex-basis: 40%; 
		color: white; 
		padding-left: 7vw;
		padding-right: 5vw;
		padding-top: 3vh;
	}
}

.game-project-title {
	-webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	font-family: 'ralewayRegular', monospace;
	font-weight: 550;
    text-decoration: none;
	color: black;
	font-size: 23px;
	
}
.game-project-title:hover {
	box-shadow: inset 0 -2px 0 0 #000;
}
.game-project-description {
	color: black;
	padding: 0;
	padding-top: 15px;
	margin: 0;
	margin-right: 15px;
	font-size: 19px;
}


/* CONTACT SECTION LANDSCAPE LAYOUT */
@media only screen and (min-width: 750px) {
	.contactBox {
		width: 100%;
		display: flex;
		flex: 0 1 auto;
		flex-direction: row;
		flex-wrap: wrap;
		min-height: 10vh;
		margin-top: 0;
		padding-top: 1rem;
		padding-bottom: 15px;
		background-color: #23212d;
		/* box-shadow: 0 -3px 10px 1px rgba(0,0,0,0.5); */
		position: relative;
	}
	.contactHead {
		/* background-color: rgba(130, 90, 90, 0.4); */
		flex-basis: 26%;
		text-align: right;
		color: white; 
		margin-left: 0; 
		margin-right: 0; 
		padding-left: 0;
		padding-right: calc(3vw - 10px);
		font-size: 22px;
	}
	.contactLinkIcon {
		/* background-color: rgba(90, 130, 90, 0.4); */
		flex-basis: 20%; 
		color: white; 
		padding-left: 0; 
		list-style-type: none;
	}
	.topGradientContact {
		position:absolute; 
		height:2vh; 
		width:100%;
		top:0; 
		padding-top:0;
		margin-top:0; 
		background-image: linear-gradient(to top, 
											rgba(83, 81, 92,0),
											rgba(83, 81, 92,0),
											rgba(83, 81, 92,0.1),
											rgba(83, 81, 92,0.2),
											rgba(83, 81, 92,0.5),
											rgba(83, 81, 92,1));		
	}
}
/* CONTACT SECTION PORTRAIT LAYOUT */
@media only screen and (max-width: 750px) {
	.contactBox {
		width: 100%;
		display: flex;
		flex: 0 1 auto;
		flex-direction: column;
		flex-wrap: wrap;
		min-height: 10vh;
		margin-top: 0;
		padding-top: 1rem;
		padding-bottom: 15px;
		background-color: #23212d;
		/* box-shadow: 0 -3px 10px 1px rgba(0,0,0,0.5); */
		position: relative;
	}
	.contactHead {
		/* background-color: rgba(130, 90, 90, 0.4); */
		flex-basis: 25%;
		text-align: center;
		color: white; 
		margin-left: 0; 
		margin-right: 0; 
		padding-left: 0;
		padding-right: 0;
		font-size: 22px;
	}
	.contactLinkIcon {
		/* background-color: rgba(90, 130, 90, 0.4); */
		flex-basis: 20%; 
		color: white; 
		padding-left: 4vw; 
		list-style-type: none;
		margin-bottom: 0;
	}
	.topGradientContact {
		position:absolute; 
		height:2vh; 
		width:100%;
		top:0; 
		padding-top:0;
		margin-top:0; 
		background-image: linear-gradient(to top, 
											rgba(83, 81, 92,0),
											rgba(83, 81, 92,0),
											rgba(83, 81, 92,0.1),
											rgba(83, 81, 92,0.2),
											rgba(83, 81, 92,0.5),
											rgba(83, 81, 92,1));		
	}
}

.contactLink {
	-webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	font-weight: 400;
    text-decoration: none;
	color: white;
	font-size:16px;
	padding-bottom: 2px;
}
.contactLink:hover {
	box-shadow: inset 0 -3px 0 0 #fff;
}

/* INSPIRATION BOX LANDSCAPE LAYOUT */
@media only screen and (min-width: 120px){
	.inspirationBox {
		padding-top: 5px;
		text-align:center; 
		color:white; 
		flex-basis:100%;
	}
}
/* INSPIRATION BOX PORTRAIT LAYOUT */
@media only screen and (max-width: 120px){
	.inspirationBox {
		padding-top: 4vh;
		text-align:center; 
		color:white; 
		flex-basis:100%; 
	}
}
.inspirationLink {
	-webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-decoration: none;
	color: white;
	font-size:13px;
	padding-bottom: 2px;
}
.inspirationLink:hover {
	box-shadow: inset 0 -1px 0 0 #fff;
}


.nav-box {
	display: flex;
	width: 100%;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	text-align: center;
	
}
.nav-item {
	flex-basis: 6%;
	padding-top:1vh; 
	padding-bottom:1vh; 
	border: 2px solid #312f3d; 
	background-color: rgba(10,0,10,0.1);
	border-radius: 20px;
}

/* PROJECT PAGE NEWSPAPER COLUMN LAYOUT CLASSES */
.devlog-section {
	/* background-color: #c1b5c2; */
	width: 100%;
	margin: 0;
	padding-top: 10vh;
	padding-bottom: 10vh;
}
/* PROJECT ITEMS LANDSCAPE LAYOUT */
@media only screen and (min-width: 800px) {
	.img-text-pair {
		width: 100%;
		display: flex;
		flex: 0 1 auto;
		flex-direction: row;
		flex-wrap: wrap;
		min-height: 10vh;
		/* background-color: rgba(90,90,130,0.4); */
	}
	.img-left {
		background-color: rgba(90,130,90,0.4);
		flex-basis: 48%;
		color: white;
		padding-left: calc(6vw - 10px);
		text-align: right;
	}
	.text-right {
		background-color: rgba(130, 90, 90, 0.4);
		flex-basis: 35%; 
		color: white; 
		padding-left: 2vw;
		padding-top: 1vh;
	}
	.text-left {
		background-color: rgba(130, 90, 90, 0.4);
		flex-basis: 35%; 
		padding-left: calc(6vw-10px);
		color: white; 
		padding-top: 1vh;
	}
	.img-right {
		background-color: rgba(90,130,90,0.4);
		flex-basis: 30%;
		color: white;
		padding-left: 2vw;
		text-align: left;
	}
}
/* PROJECT ITEMS PORTRAIT LAYOUT */
@media only screen and (max-width: 800px) {
	.img-text-section {
		width: 100%;
		display: flex;
		flex: 0 1 auto;
		flex-direction: column;
		flex-wrap: wrap;
		min-height: 40vh;
		justify-content: center;
		/* background-color: rgba(90,90,130,0.4); */
	}
	.img-left {
		/* background-color: rgba(90,130,90,0.4); */
		flex-basis: 100%;
		text-align: center;
	}
	.text-right {
		/* background-color: rgba(130, 90, 90, 0.4); */
		flex-basis: 40%; 
		color: white; 
		padding-left: 7vw;
		padding-right: 5vw;
		padding-top: 3vh;
	}
	.text-left {
		/* background-color: rgba(90,130,90,0.4); */
		flex-basis: 100%;
		text-align: center;
	}
	.img-right {
		/* background-color: rgba(130, 90, 90, 0.4); */
		flex-basis: 40%; 
		color: white; 
		padding-left: 7vw;
		padding-right: 5vw;
		padding-top: 3vh;
	}
}